{% load static %}
<html>
<head>
  <title>About US</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
{% include 'navigation.html' %}
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">About Hpusehold Supplies</span>
            <h2>We manufacture household product since 2022 A.D</h2>
          </div>
          <div class="text">
          </div>
          <div class="text">
            
          </div>
          <div class="btn-box">
            <a href="" class="theme-btn btn-style-one">Contact Us</a>
          </div>
        </div>
      </div>
      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft">
          <div class="author-desc">
            <h2>Alina Adhikari</h2>
            <span>CEO</span>
          </div>
          
        </div>
      </div>

    </div>
    <div class="sec-title">
      <span class="title">Our Future Goal</span>
      <h4> Expand our market</h4>
      <h4> Provide more product</h4>
     
    </div>
  </div>
</section>
</body>